 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Header */
header {
  background-color: red;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo h1 {
  color: #fff;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.menu li p,
.menu li a {
  color: #fff;
  text-decoration: none;
  margin: 0;
  transition: all 0.3s ease;
}

.menu li:hover,
.logo h1:hover {
  cursor: pointer;
  opacity: 0.8;
}

.menu ul li a:hover {
  opacity: 0.7;
}

/* Menu secundário */
nav.menu {
  background-color: #eee;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  gap: 130px;
  text-align: center;
  font-size: 22px;

}

nav.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

nav.menu li a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

/* Conteúdo principal */
main {
  padding: 0 40px;
  background-color: #eee;
}

/* Imagem */
.imagem {
  width: 100%;
  margin: 0;
}

.imagem img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
}

/* Footer */
.footer {
  background-color: #e30613;
  color: white;
  margin-top: 0;
}

.footer-container {
  max-width: 2000px;
  margin: auto;
  padding: 40px 20px;
  background-color: #bb1e2a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #e30613;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #e30613;
  padding: 20px  0;
  font-size: 24px;
}

.footer-social a {
  color: white;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #cccccc;
}
.vermelho{
  width: 1200px;
  height: 5px;
  background-color: red;
  position: absolute;
  left: 300px;
}
.Texto{
  color: #eee;
  z-index: 0;
  position: absolute;
  left: 950px;
  top: 480px;
  text-align: center;
  transform: translateX(-50%);
}
.Texto h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
}

.Texto h2 b {
  font-weight: 700;
}

.risco1{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 107px;
  top: 583px;
  transform: rotate(45deg);
}
.risco2{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 107px;
  top: 600px;
  transform: rotate(-45deg);
}

.risco3{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 1780px;
  top: 583px;
  transform: rotate(-45deg);
}
.risco4{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 1780px;
  top: 600px;
  transform: rotate(45deg);
}
.risco1:hover,
.risco2:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: white;
}
.risco3:hover,
.risco4:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: white;
}
.quad1{
    width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 730px;
  top: 600px;
  transform: rotate(90deg);
}
.quad2{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 780px;
  top: 600px;
  transform: rotate(90deg);
}
.quad3{
    width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 830px;
  top: 600px;
  transform: rotate(90deg);
}
.quad4{
    width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 880px;
  top: 600px;
  transform: rotate(90deg);
}
.quad5{
    width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 930px;
  top: 600px;
  transform: rotate(90deg);
}
  .quad6{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 980px;
  top: 600px;
  transform: rotate(90deg);
  }
  .quad7{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 1030px;
  top: 600px;
  transform: rotate(90deg);
}
  .quad8{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 1080px;
  top: 600px;
  transform: rotate(90deg);
}
  .quad9{
  width: 6px;
  height: 30px;
  background-color: gray;
  position: absolute;
  z-index: 0;
  left: 1130px;
  top: 600px;
  transform: rotate(90deg);
}
.quad1:hover,
.quad2:hover,.quad3:hover,.quad4:hover,.quad5:hover,.quad6:hover,.quad7:hover,.quad8:hover,.quad9:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: white;
}
  
